<h3>Please sign in below</h3>
<%= form_tag session_path do %>
  <div>
    <%= label_tag 'email' %>
    <%= email_field_tag 'email' %>
  </div>
  <div>
    <%= label_tag 'password' %>
    <%= password_field_tag 'password' %>
  </div>
  <%= submit_tag 'Sign in' %>
<% end %>