<% if @user.lessons.any? %>
<h4><%= @user.username %> <small>(<%= @user.lessons.count %>)</small></h4>
<% end %>
<table class="table">
  <thead>
    <h3></h3>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @lessons.each do |lesson| %>
      <td><%= lesson.title %></td>
      <td><%= truncate(lesson.description, length: 100) { link_to "(read more)", lesson } %></td>
      <td>
        <%= link_to 'edit', edit_lesson_path %> |
        <%= link_to 'flip', flip_lesson_path %> |
        <%= link_to 'delete', lesson, method: :delete,
                                      data: { confirm: "You sure?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
