<% provide(:title, @user.username) %>
Lessons by <%= @user.username %>
<a href="<%= user_path(@user) %>"><span class="badge"><%= @user.lessons.count %></span></a>

<div class="media">
  <div class="pull-left" href="#">
    <% unless @lesson.picture.nil? %>
    <%= image_tag @lesson.picture.thumb("200x").url, class: "media-object" %>
  </div>
  <% end %>
  <div class="media-body">
    <h4 class="media-heading"><small><%= @lesson.category %></small></h4>
    <h4 class="media-heading"><%= @lesson.title %></h4>
    <%= @lesson.description %>
  </div>
</div>
<div class="text-right">
  <a class="btn btn-danger" href="<%= flip_lesson_path %>" role="button">Flip This Lesson</a>
</div>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Duration</th>
      <th>Views</th>
      <th>Flips</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @lesson.duration %>TBD</td>
      <td><%= @lesson.views %>TBD</td>
      <td><%= @lesson.flips %>TBD</td>
    </tr>
  </tbody>
</table>
