<h3 class="text-right"><small>Lessons by <%= @user.username %> (<%= link_to @user.lessons.count, user_path(@user) %>)</small></h3>
<div class="text-right"><%= link_to 'edit', edit_lesson_path %>
   <%= link_to 'flip', flip_lesson_path %>
</div>
<div class="media">
  <div class="pull-left" href="#">
    <% unless @lesson.picture.nil? %>
    <%= image_tag @lesson.picture.thumb("200x").url, class: "media-object" %>
  </div>
  <% end %>
  <div class="media-body">
    <h4 class="media-heading">
      <small><%= @lesson.category %>: </small><%= @lesson.title %>
    </h4>
    <%= @lesson.description %>
  </div>
</div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Duration</th>
        <th>User</th>
        <th>Views</th>
        <th>Flips</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @lesson.duration %>TBD</td>
        <td><%= link_to 'user', user_path(@user) %></td>
        <td><%= @lesson.views %>TBD</td>
        <td><%= @lesson.flips %>TBD</td>
      </tr>
    </tbody>
  </table>
