<!DOCTYPE html>
<html>
<head>
  <title>Ed | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-static-top" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>">Lǝrn</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><%= link_to "Lessons", lessons_path %></li>
    </ul>
<!--     <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  -->    <ul class="nav navbar-nav navbar-right">
  <% if current_user %>
  <li><%= link_to '+ add a lesson', new_lesson_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Signed in as <%= current_user.firstname %> <%= current_user.lastname %>
      <b class="caret"></b>
    </a>
    <% else %>
    <li><%= link_to 'Sign In', new_session_path %></li>
    <li><%= link_to 'Register', new_user_path %></li>
    <li><%= link_to '', new_user_path %></li>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to_unless(current_user.nil?, 'Dashboard', dashboard_path) %></li>
      <li class="divider"></li>
      <li>
        <%= link_to_unless(current_user.nil?, "Sign Out", session_path, method: :delete) %>
      </li>
      <%# end %>
    </ul>
  </li>
</ul>
</div><!-- /.navbar-collapse -->
</nav>

<div class="container">
  <p class="text-primary">
  <%= notice %>
  </p>
  <%= yield %>
</div>
</body>
</html>
